{% extends "base.html" %}

{% block title %}
Admin Suggestions | HappyPaws
{% endblock %}

{%block content %}
<main class="py-5">
    <div class="container">
        <div class="mb-4">
            <div>
                <h1>
                    Animal Suggestions
                </h1>

                <p class="text-muted">
                    Review users' suggestions.
                </p>
            </div>

            <div class="row g-4">
                {% for suggestion in suggestions %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card h-100 border-0 shadow-sm">
                            {% if suggestion.image %}
                                <img src="{{ suggestion.image.url }}" class="card-img-top pet-card image" alt="{{ suggestion.animal_type }}">
                            {% endif %}

                            <div class="card-body">
                                <h2 class="h4">
                                    {% if suggestion.animal_name %}
                                        {{ suggestion.animal_name }}
                                    {% else %}
                                        {{ suggestion.animal_type }}
                                    {% endif %}
                                </h2>

                                <p>
                                    <strong>Type:</strong>
                                    {{ suggestion.animal_type }}
                                </p>

                                <p>
                                    <strong>Breed:</strong>
                                    {% if suggestion.breed %}
                                        {{ suggestion.breed }}
                                    {% else %}
                                        Unknown
                                    {% endif %}
                                </p>

                                <p>
                                    <strong>Estimated age:</strong>
                                    {% if suggestion.estimated_age %}
                                        {{ suggestion.estimated_age }}
                                    {% else %}
                                        Unknown
                                    {% endif %}
                                </p>

                                <p>
                                    <strong>Location:</strong>
                                        {{ suggestion.location_found }}
                                </p>

                                <p>
                                    <strong>Description:</strong>
                                        {{ suggestion.description }}
                                </p>

                                <p>
                                    <strong>Submitted_by:</strong>
                                        {{ suggestion.submitted_by.username }}
                                </p>

                                <p>
                                    <strong>Status:</strong>
                                    {% if suggestion.status == "PENDING" %}
                                        <span class="badge text-bg-warning">
                                            Pending
                                        </span>
                                    {% elif suggestion.status == "APPROVED" %}
                                        <span class="badge text-bg-success">
                                            Approved
                                        </span>
                                    {% else %}
                                        <span class="badge text-bg-danger">
                                            Rejected
                                        </span>
                                    {% endif %}
                                </p>

                                {% if suggestion.status == "PENDING" %}
                                    <form method="POST" action="{% url 'shelter:approve_suggestion' suggestion.id %}" class="d-inline">
                                        {% csrf_token %}

                                        <button type="submit" class="btn btn-success">
                                            Approve
                                        </button>
                                    </form>

                                    <a href="{% url 'shelter:reject_suggestion' suggestion.id %}" class="btn btn-danger">
                                        Reject
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <div class="alert alert-info">
                            There are no animal suggestions yet.
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}