{% extends "base.html" %}

{% block title %}
    Dashboard | Happy Paws 
{% endblock %}

{% block content %}
<main class="dashboard-page py-5">
    <div class="container">
        <div class="dashboard-header mb-5">
            <p class="text-uppercase dashboard-label">
                Dashboard 
            </p>

            <h1> Welcome, {{request.user.first_name}}! </h1>

            <p class="text-muted">
                Account role: <strong> {{ request.user.profile.get_role_display }} </strong>
            </p>

            <p class="text-muted">
                Explore our beautiful stray animals, find your soulmate!
            </p>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="dashboard-card">
                    <h2> Browse Animals</h2>
                    <p> All stray animals available for adoption</p>

                    <a href="{% url 'shelter:browse_animals' %}" class="btn btn-primary">
                        Browse Animals
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="dashboard-card">
                    <h2> My favourites</h2>
                    <p> All animals you saved to favourites</p>

                    <button class="btn btn-outline-primary" type="button" disabled>
                        Coming Soon
                    </button>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="dashboard-card">
                    <h2> Suggest an Animal</h2>

                    <p>Reccomendations for animals who need support.</p>

                    <a href="{% url 'shelter:favourites' %}" class="btn btn-primary">
                        View Favourites
                    </a>
                </div>
            </div>

            {% if request.user.profile.role == "ORGANIZATION" or request.user.profile.role == "ADMIN" %}
                <div class="col-md-6 col-lg-4">
                    <div class="dashboard-card">
                        <h2>Manage Animals</h2>

                        <p> Add, edit or manage the animal catalogue</p>

                        <button class="btn btn-primary" type="button" disabled>
                            Organization Tool 
                        </button>
                    </div>
                </div>
            {% endif %}

            {% if request.user.profile.role == "ADMIN" %}
                <div class="col-md-6 col-lg-4">
                    <div class="dashboard-card">
                        <h2>Admin Tools</h2>

                        <p> Review animal suggestions from users and manage users' role</p>

                        <button class="btn btn-primary" type="button" disabled>
                            Admin Only 
                        </button>
                    </div>
                </div>
            {% endif %}
        
        </div>
    </div>
</main>

{% endblock %}